*{
background-color: #36D1C4;
}

.container{
	background-color:#0E91A1;
}


li {
    float: right;
}

li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: hsla(0, 100%, 50%, 0.3);
}