
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Guest Book</title>
<link rel="stylesheet" href="/guestbook.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="#">Course Fee Calculation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul>
            <li><a href="http://127.0.0.1:8081/index">Guestbook</a></li>
              <li><a class="active" href="http://127.0.0.1:8081/contact.html">Contact</a></li>
              <li><a href="http://127.0.0.1:8081/course.htm">Course</a></li>
              <li><a href="http://127.0.0.1:8081/index.html">Home</a></li>
              
              
        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

</head>
<body class="container">
    <br><br><br><br><br>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1><body>
   


   





