

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-image : url(bg1.jpg);
	background-repeat:no-repeat;
	background-size: 1400px 790px;
    background-color: #6A5ACD;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: hsla(0, 100%, 50%, 0.3);
}


.col-md-4{
	float: right;
}
#navbar{
		background-color:hsla(0, 100%, 50%, 0.3);
}

p {
	font-size: 5em;
}

.image{

width: 25ptx;
height: 25px;

}
.pad{
	padding:25px;
}
.contact{
	
	background-image:url(bg1.jpg);
	background-repeat:no-repeat;
	background-position:100%;
	
}
.courseform{
	padding:25px;
}
.footer-container{
	color:black;
}
	














